body {
	margin: 0;
	background: #e8e8e8;
	font-family: 'PT Sans', sans-serif;
}

#splash {
	text-align: center;
	margin: 32px 0 64px;
}

#splash img {
	height: 64px;
}

#splash, footer {
	padding: 0 16px;
}

#photo-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 100%;
	column-gap: 16px;
	grid-row-gap: 16px;
	margin: 0 auto;
	padding: 0 16px;
	max-width: 1400px;
}

#photo-grid figure {
	position: relative;
	display: block;
	margin: 0;
	cursor: zoom-in;
}

#photo-grid figcaption {
	position: absolute;
	bottom: 16px;
	left: 16px;
	visibility: hidden;
	transition: 0.2s;
}

#photo-grid figcaption h1 {
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	margin: 0;
}

#photo-grid figcaption div {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
}

#photo-grid figure:hover img {
	filter: brightness(80%);
}

#photo-grid figure:hover figcaption {
	visibility: visible;
}

#photo-grid img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

#photo-popup {
	transition: 0.2s;
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	overflow-y: auto;
}

#popup {
	z-index: 2;
	flex: 1 1 0;
	margin: 32px 128px;
	border-radius: 4px;
	background: white;
	height: fit-content;
}

#popup img {
	max-width: 100%;
	max-height: 600px;
	margin: auto;
	display: block;
}

#popup-top {
	display: flex;
	margin: 16px 16px 32px 16px;
}

#popup-title {
	display: inline-block;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
}

#popup-close {
	padding: 0;
	border: none;
	background: none;
	margin-left: auto;
	outline: none;
	cursor: pointer;
	opacity: 0.6;
}

#popup-close:hover {
	opacity: 1;
}

#popup-info {
	margin: 32px 16px;
}

#popup-author {
	font-size: 16px;
	margin: 0 0 16px;
	font-style: italic;
}

#popup-content {
	font-size: 16px;
}

#popup-before, #popup-next {
	position: fixed;
	height: 100%;
	background: none;
	opacity: 0.6;
	border: none;
	outline: 0;
	cursor: pointer;
}

#popup-before:hover, #popup-next:hover {
	opacity: 1;
}

#popup-before {
	left: 0;
}

#popup-next {
	right: 0;
}

footer {
	font-size: 20px;
	margin: 64px 0;
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	#photo-grid {
		grid-template-columns: 1fr 1fr;
	}

	#popup {
		margin: 32px 64px;
	}
}

@media only screen and (max-width: 600px) {
	#photo-grid {
		grid-template-columns: 1fr;
		padding: 0;
		grid-row-gap: 32px;
	}

	#popup {
		margin: 32px 0;
	}
	
	#photo-grid figcaption {
		transition: none;
		position: relative;
		visibility: visible;
		bottom: 0;
		left: 0;
		margin: 0 0 8px 16px;
	}

	#photo-grid figcaption h1 {
		color: #000;
	}

	#photo-grid figcaption div {
		color: rgba(0, 0, 0, 0.6);
	}

	#photo-grid figure {
		display: flex;
		flex-direction: column-reverse;
	}
}